/*

Created by Harry Wieldraaijer on 23 december 2023
Version 3.0 - 23 december 2023

*/
.column0{
  display: inline-block;
  vertical-align: top;
  width: 160px;
}
.column1{
  display: inline-block;
  vertical-align: top;
  width: 200px;
}
.column2{
  display: inline-block;
  vertical-align: top;
  width: 600pxh;
}
.block1Fixed{
  visibility: hidden;
}
.block1StartTimeSunset{
  visibility: visible;
}
.block1MovementInterrupt{
  visibility: visible;
}
.block2Fixed{
  visibility: visible;
}
.block2StartTimeSunset{
  visibility: visible;
}
.block2MovementInterrupt{
  visibility: visible;
}
.block3Fixed{
  visibility: visible;
}
.block3StartTimeSunset{
  visibility: visible;
}
.block3MovementInterrupt{
  visibility: hidden;
}
.testButton{
  color: black;
  background-color: rgb(246, 238, 238);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  cursor:pointer;
  margin-left: 18px;
  transition: background-color 0.15s,
  color 0.15s;
}
.testButton:hover{
  background-color: white;
  color: red;
}
.testButton:active{ 
  background-color: green;
  color:black;
}
.saveButton{
  font-size: 24px;
  background-color: red;
  color: white;
  cursor:pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 550px;
  transition: background-color 0.15s,
  color 0.15s;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  vertical-align: top;
}
.saveButton:hover{
  background-color: white;
  color: red;
}
.saveButton:active{ 
  background-color: green;
  color:black;
}
.exitButton{
  font-size: 24px;
  background-color: red;
  color: white;
  cursor:pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 16px;
  transition: background-color 0.15s,
  color 0,15s;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  vertical-align: top;
}
.exitButton:hover{
  background-color: white;
  color: red;
}
.exitButton:active{
  background-color: green;
  color:black;
}